.gradle/
build/
app/build/
local.properties
*.apk
.idea/
result

keys/
*.p12
*.jks
*.keystore
fdroid/keystore.p12
fdroid/config.yml
fdroid/tmp/
fdroid/repo/
fdroid/archive/
fdroid/srclibs/
fdroid/unsigned/
fdroid/stats/
.gh-pages/

!docs/repo/*.apk
